<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Loja Camisas A/R</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/texte03dapersonalidade3.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/captura-2026-04-24.png') }}" type="image/x-icon">
</head>

<body>

<!-- HEADER -->
<header>
    <div class="interface">
        <div class="logo"><h2>A/R</h2></div>
        <nav class="menu-desktop">
           <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre nossa loja</a></li>
           
                <li><a href="{{ url_for('loja') }}">Projetos</a></li>
               
               
            </ul>
        </nav>
    </div>
</header>

<!-- TÍTULO -->
<h1>Loja de <span>Camisas</span></h1>

<!-- LOJA -->
<div class="loja" id="loja">

    <!-- PRODUTO 1 -->
    <div class="produto"
        data-img="img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp"
        data-title="Oversized Black"
        data-desc="Camiseta premium oversized streetwear."
        data-price="R$ 99,90">
        <img src="{{ url_for('static', filename='img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp') }}" alt="Oversized Black">
        <div class="produto-info">
            <h2>Oversized Black</h2>
            <p class="descricao">Streetwear moderno premium.</p>
            <div class="produto-footer">
                <p class="preco">R$ 99,90</p>
                <span class="btn-ver">Ver mais</span>
            </div>
            <button class="btn-comprar"> Comprar Agora</button>
        </div>
    </div>
    <!-- PRODUTO 1 -->
    <div class="produto"
        data-img="img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp"
        data-title="Oversized Black"
        data-desc="Camiseta premium oversized streetwear."
        data-price="R$ 99,90">
        <img src="{{ url_for('static', filename='img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp') }}" alt="Oversized Black">
        <div class="produto-info">
            <h2>Oversized Black</h2>
            <p class="descricao">Streetwear moderno premium.</p>
            <div class="produto-footer">
                <p class="preco">R$ 99,90</p>
                <span class="btn-ver">Ver mais</span>
            </div>
            <button class="btn-comprar"> Comprar Agora</button>
        </div>
    </div>
    <!-- PRODUTO 1 -->
    <div class="produto"
        data-img="img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp"
        data-title="Oversized Black"
        data-desc="Camiseta premium oversized streetwear."
        data-price="R$ 99,90">
        <img src="{{ url_for('static', filename='img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp') }}" alt="Oversized Black">
        <div class="produto-info">
            <h2>Oversized Black</h2>
            <p class="descricao">Streetwear moderno premium.</p>
            <div class="produto-footer">
                <p class="preco">R$ 99,90</p>
                <span class="btn-ver">Ver mais</span>
            </div>
            <button class="btn-comprar"> Comprar Agora</button>
        </div>
    </div>
    <!-- PRODUTO 1 -->
    <div class="produto"
        data-img="img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp"
        data-title="Oversized Black"
        data-desc="Camiseta premium oversized streetwear."
        data-price="R$ 99,90">
        <img src="{{ url_for('static', filename='img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp') }}" alt="Oversized Black">
        <div class="produto-info">
            <h2>Oversized Black</h2>
            <p class="descricao">Streetwear moderno premium.</p>
            <div class="produto-footer">
                <p class="preco">R$ 99,90</p>
                <span class="btn-ver">Ver mais</span>
            </div>
            <button class="btn-comprar"> Comprar Agora</button>
        </div>
    </div>
    <!-- PRODUTO 1 -->
    <div class="produto"
        data-img="img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp"
        data-title="Oversized Black"
        data-desc="Camiseta premium oversized streetwear."
        data-price="R$ 99,90">
        <img src="{{ url_for('static', filename='img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp') }}" alt="Oversized Black">
        <div class="produto-info">
            <h2>Oversized Black</h2>
            <p class="descricao">Streetwear moderno premium.</p>
            <div class="produto-footer">
                <p class="preco">R$ 99,90</p>
                <span class="btn-ver">Ver mais</span>
            </div>
            <button class="btn-comprar"> Comprar Agora</button>
        </div>
    </div>
    <!-- PRODUTO 1 -->
    <div class="produto"
        data-img="img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp"
        data-title="Oversized Black"
        data-desc="Camiseta premium oversized streetwear."
        data-price="R$ 99,90">
        <img src="{{ url_for('static', filename='img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp') }}" alt="Oversized Black">
        <div class="produto-info">
            <h2>Oversized Black</h2>
            <p class="descricao">Streetwear moderno premium.</p>
            <div class="produto-footer">
                <p class="preco">R$ 99,90</p>
                <span class="btn-ver">Ver mais</span>
            </div>
            <button class="btn-comprar"> Comprar Agora</button>
        </div>
    </div>
    <!-- PRODUTO 1 -->
    <div class="produto"
        data-img="img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp"
        data-title="Oversized Black"
        data-desc="Camiseta premium oversized streetwear."
        data-price="R$ 99,90">
        <img src="{{ url_for('static', filename='img/Camiseta_Oversized_Legacy_Preto_-_Mockup_1.webp') }}" alt="Oversized Black">
        <div class="produto-info">
            <h2>Oversized Black</h2>
            <p class="descricao">Streetwear moderno premium.</p>
            <div class="produto-footer">
                <p class="preco">R$ 99,90</p>
                <span class="btn-ver">Ver mais</span>
            </div>
            <button class="btn-comprar"> Comprar Agora</button>
        </div>
    </div>

   

<!-- MODAL ZOOM -->
<div class="zoom" id="zoom">
    <div class="zoom-box">
        <span id="closeZoom">&times;</span>
        <img id="zoomImg" alt="">
        <h2 id="zoomTitle"></h2>
        <p id="zoomDesc"></p>
        <p id="zoomPrice"></p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
